<link href="../Content/UserPage/GoogleMapPartialView.css" rel="stylesheet"/>
<div class="google_map hide_element">
    <div>
        <i class="fa-solid fa-xmark" style="color: #727479;" onclick="DisplayGoogleMap()"></i>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1168.1294343096035!2d105.7225890358253!3d10.008316039296792!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a08903d92d1d0d%3A0x2c147a40ead97caa!2sNam%20Can%20Tho%20University!5e0!3m2!1sen!2s!4v1728041332757!5m2!1sen!2s" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>

