.admin-vourcher-detail-container{
    width:100%;
    padding:20px;
}
.admin-vourcher-detail-container > p{
    
}

.admin-vourcher-detail-table {
    padding: 20px;
    max-height:60vh;
    overflow-y:scroll;
}

   .admin-vourcher-detail-table > table {
        width: 100%;
        border-collapse: collapse;
    }
        .admin-vourcher-detail-table > table tr {
            border: 1px solid #ccc;
            height: 50px;
        }

            .admin-vourcher-detail-table > table tr:hover {
                background-color: #ddd;
            }

            .admin-vourcher-detail-table > table tr td, .admin-vourcher-detail-table > table tr th {
                border: 1px solid #ccc;
                text-align: left;
                padding: 10px;
            }
            
            .admin-vourcher-detail-table > table tr th{
                background-color:gray;
                color:white;
            }
            .admin-vourcher-detail-table > table tr td a{
                
                color:black;
            }
.admin-vourcher-detail-container td img{
    width:70px;
}