.admin-vourcher-dialog_edit {
    z-index: 2;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    background-color: #00a6e6;
    border-radius: 10px;
    position: fixed;
    min-width:470px;
    min-height:265px;
}

.admin-vourcher-dialog_edit >div{
    position:relative;
    padding:20px;
}
.admin-vourcher-dialog_edit .fa-rectangle-xmark{
    position:absolute;
    top:-20px;
    right:-20px;
    font-size:30px;
}
.admin-vourcher-dialog_edit .fa-rectangle-xmark:hover{
    transform:scale(1.1);
}
.admin-vourcher-dialog_edit h2{
    margin-bottom:15px;
}
.admin-vourcher-dialog_edit fieldset{
    padding:20px 20px 10px 20px;
    border:2px solid white;
}
.admin-vourcher-dialog_edit label{
    color:white;
}
.admin-vourcher-dialog_edit input{
    padding:0px 10px;
    border-radius:5px;
}
.admin-vourcher-dialog_edit input#type{
    width:100px;
    height:30px;
}
.admin-vourcher-dialog_edit input#name{
    width:300px;
    height:30px;
}
.admin-vourcher-dialog_edit input#submit{
    padding:10px 20px;
    border-radius:10px;
    border:none;
    margin-left:50%;
    transform:translateX(-50%);
    margin-top:10px;
    background-color:blue;
    color:white;
}
.admin-vourcher-dialog_edit input#submit:hover{
    background:gray;
}
