.admin-vourcher-container {
    width: 100%;
    border: 1px solid gray;
    margin: 20px auto 0px auto;
}

    .admin-vourcher-container > div:first-child {
        padding: 10px 30px;
        border: 1px solid gray;
    }

        .admin-vourcher-container > div:first-child button {
            padding: 10px 20px;
            border-radius: 10px;
            color: white;
            background-color: #00B0F0;
            border: none;
            font-size: 20px;
            margin-bottom: 20px;
        }
        .admin-vourcher-container > div:first-child button >a{
            text-decoration:none;
            color:white
        }
            .admin-vourcher-container > div:first-child p {
            font-size: 18px;
            margin-left: 10px;
        }

.admin-vourcher-table {
    padding: 20px;
    max-height:60vh;
    overflow-y:scroll;
}

    .admin-vourcher-table > table {
        width: 100%;
        border-collapse: collapse;
    }
        .admin-vourcher-table > table tr {
            border: 1px solid #ccc;
            height: 50px;
        }

            .admin-vourcher-table > table tr:hover {
                background-color: #ddd;
            }

            .admin-vourcher-table > table tr td, .admin-vourcher-table > table tr th {
                border: 1px solid #ccc;
                text-align: left;
                padding: 10px;
            }
            
            .admin-vourcher-table > table tr th{
                background-color:gray;
                color:white;
            }
            .admin-vourcher-table > table tr td a{
                
                color:black;
            }