.product {
    background-color: #ffeae9;
    border-radius: 20px;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

    .product > img {
        width: 100%;
        aspect-ratio: 18/3;
        border-radius: 20px 20px 0px 0px;
        margin-bottom: 20px;
    }

.product_banner {
    width: 100%;
    padding: 0px 20px 0px 20px;
    position: relative;
}

    .product_banner .product-card {
        width: 100%;
        height: 25vw;
        border: 1px solid #ddd;
        border-radius: 15px;
        background-color: #fff;
        color: #000;
        position: relative;
        margin: 20px 0px;
        transition: transform 0.3s ease;
    }

        .product_banner .product-card:hover {
            transform: scale(1.05);
        }

        .product_banner .product-card img {
            width: 100%;
            height: 65%;
            border-radius: 10px 10px 0px 0px;
        }

        .product_banner .product-card .product-info {
            width: 100%;
            padding: 10px;
            height:max-content;
        }


            .product_banner .product-card .product-info .product-name {
                font-size: 1vw;
                font-weight: bold;
                margin: 0.5vw 0;
            }


            .product_banner .product-card .product-info .price-container {
                display: flex;
                align-items: center;
                column-gap: 2vw;
            }


                .product_banner .product-card .product-info .price-container .product-price {
                    font-size: 1vw;
                    color: #ff0000;
                    font-weight: bold;
                    margin: 0.5vw 0px;
                }


                .product_banner .product-card .product-info .price-container .product-discount-price {
                    font-size: calc(1vw - 2px);
                    color: gray;
                    text-decoration: line-through;
                    margin: 0px;
                }


            .product_banner .product-card .product-info .evaluate {
                display: flex;
                column-gap: 2px;
                font-size: calc(1vw - 6px);
                list-style: none;
                padding-left: 0px;
                margin-bottom: 0px;
            }

        .product_banner .product-card .discount {
            background-image: url("https://res.cloudinary.com/duouljna1/image/upload/v1728300796/Resource/discount_ljp6vc.png");
            position: absolute;
            padding: 5px 10px;
            font-size: 14px;
            top: 0px;
            color: white;
            left: 0px;
        }
